v2/soap-server/src/main/resources/wsdl/IMuleStoreService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IMuleStoreServiceService" targetNamespace="http://service.store.devkit.tools.mule.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.store.devkit.tools.mule.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.store.devkit.tools.mule.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.store.devkit.tools.mule.org/">
  <xs:element name="addList" type="tns:addList"/>
  <xs:element name="addListResponse" type="tns:addListResponse"/>
  <xs:element name="create" type="tns:create"/>
  <xs:element name="createCustomEntityDefinition" type="tns:createCustomEntityDefinition"/>
  <xs:element name="createCustomEntityDefinitionResponse" type="tns:createCustomEntityDefinitionResponse"/>
  <xs:element name="createResponse" type="tns:createResponse"/>
  <xs:element name="delete" type="tns:delete"/>
  <xs:element name="deleteList" type="tns:deleteList"/>
  <xs:element name="deleteListResponse" type="tns:deleteListResponse"/>
  <xs:element name="deleteResponse" type="tns:deleteResponse"/>
  <xs:element name="describe" type="tns:describe"/>
  <xs:element name="describeResponse" type="tns:describeResponse"/>
  <xs:element name="get" type="tns:get"/>
  <xs:element name="getCustomEntities" type="tns:getCustomEntities"/>
  <xs:element name="getCustomEntitiesResponse" type="tns:getCustomEntitiesResponse"/>
  <xs:element name="getList" type="tns:getList"/>
  <xs:element name="getListResponse" type="tns:getListResponse"/>
  <xs:element name="getRecentlyAdded" type="tns:getRecentlyAdded"/>
  <xs:element name="getRecentlyAddedResponse" type="tns:getRecentlyAddedResponse"/>
  <xs:element name="getResponse" type="tns:getResponse"/>
  <xs:element name="searchWithQuery" type="tns:searchWithQuery"/>
  <xs:element name="searchWithQueryResponse" type="tns:searchWithQueryResponse"/>
  <xs:element name="update" type="tns:update"/>
  <xs:element name="updateList" type="tns:updateList"/>
  <xs:element name="updateListResponse" type="tns:updateListResponse"/>
  <xs:element name="updateResponse" type="tns:updateResponse"/>
  <xs:complexType name="getRecentlyAdded">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getRecentlyAddedResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType abstract="true" name="entity">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="author">
    <xs:complexContent>
      <xs:extension base="tns:entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="firstName" type="xs:string"/>
          <xs:element minOccurs="0" name="lastName" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="book">
    <xs:complexContent>
      <xs:extension base="tns:entity">
        <xs:sequence>
          <xs:element name="authorId" type="xs:int"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="genre" type="tns:genre"/>
          <xs:element minOccurs="0" name="isbn" type="xs:string"/>
          <xs:element name="price" type="xs:float"/>
          <xs:element minOccurs="0" name="title" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="customEntity">
    <xs:complexContent>
      <xs:extension base="tns:entity">
        <xs:sequence>
          <xs:element name="custom" type="xs:boolean"/>
          <xs:element minOccurs="0" name="displayName" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="tns:field"/>
          <xs:element name="querable" type="xs:boolean"/>
          <xs:element minOccurs="0" name="typeId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="field">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataType" type="tns:dataType"/>
      <xs:element minOccurs="0" name="displayName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element name="required" type="xs:boolean"/>
      <xs:element minOccurs="0" name="value" type="xs:anyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="get">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchWithQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="query" type="xs:string"/>
      <xs:element minOccurs="0" name="page" type="xs:int"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchWithQueryResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomEntities">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getCustomEntitiesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:customEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createCustomEntityDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="entityDefinition" type="tns:customEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createCustomEntityDefinitionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entityIds" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="create">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entities" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entities" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entityIds" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteListResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="describe">
    <xs:sequence>
      <xs:element minOccurs="0" name="entityId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="describeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:customEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="genre">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SCIENCE_FICTION"/>
      <xs:enumeration value="SATIRE"/>
      <xs:enumeration value="DRAMA"/>
      <xs:enumeration value="ACTION_AND_ADVENTURE"/>
      <xs:enumeration value="ROMANCE"/>
      <xs:enumeration value="MYSTERY"/>
      <xs:enumeration value="HORROR"/>
      <xs:enumeration value="SELF_HELP"/>
      <xs:enumeration value="GUIDE"/>
      <xs:enumeration value="TRAVEL"/>
      <xs:enumeration value="CHILDRENS"/>
      <xs:enumeration value="RELIGIOUS"/>
      <xs:enumeration value="SCIENCE"/>
      <xs:enumeration value="HISTORY"/>
      <xs:enumeration value="MATH"/>
      <xs:enumeration value="ANTHOLOGIES"/>
      <xs:enumeration value="POETRY"/>
      <xs:enumeration value="ENCYCLOPEDIAS"/>
      <xs:enumeration value="DICTIONARIES"/>
      <xs:enumeration value="COMICS"/>
      <xs:enumeration value="ART"/>
      <xs:enumeration value="COOKBOOKS"/>
      <xs:enumeration value="DIARIES"/>
      <xs:enumeration value="JOURNALS"/>
      <xs:enumeration value="PRAYER_BOOKS"/>
      <xs:enumeration value="SERIES"/>
      <xs:enumeration value="TRILOGIES"/>
      <xs:enumeration value="BIOGRAPHIES"/>
      <xs:enumeration value="AUTOBIOGRAPHIES"/>
      <xs:enumeration value="FANTASY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DATE"/>
      <xs:enumeration value="DOUBLE"/>
      <xs:enumeration value="ENTITY"/>
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="STRING"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SessionExpired" type="tns:SessionExpired"/>
  <xs:complexType name="SessionExpired">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="NoSuchEntity" type="tns:NoSuchEntity"/>
  <xs:complexType name="NoSuchEntity">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="InvalidEntity" type="tns:InvalidEntity"/>
  <xs:complexType name="InvalidEntity">
    <xs:sequence>
      <xs:element name="entity" nillable="true" type="tns:entity"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="create">
    <wsdl:part name="parameters" element="tns:create">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidEntityException">
    <wsdl:part name="InvalidEntityException" element="tns:InvalidEntity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="describeResponse">
    <wsdl:part name="parameters" element="tns:describeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCustomEntityDefinitionResponse">
    <wsdl:part name="parameters" element="tns:createCustomEntityDefinitionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="parameters" element="tns:getResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SessionExpiredException">
    <wsdl:part name="SessionExpiredException" element="tns:SessionExpired">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get">
    <wsdl:part name="parameters" element="tns:get">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentlyAdded">
    <wsdl:part name="parameters" element="tns:getRecentlyAdded">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateList">
    <wsdl:part name="parameters" element="tns:updateList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchWithQueryResponse">
    <wsdl:part name="parameters" element="tns:searchWithQueryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteList">
    <wsdl:part name="parameters" element="tns:deleteList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentlyAddedResponse">
    <wsdl:part name="parameters" element="tns:getRecentlyAddedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getList">
    <wsdl:part name="parameters" element="tns:getList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCustomEntityDefinition">
    <wsdl:part name="parameters" element="tns:createCustomEntityDefinition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchWithQuery">
    <wsdl:part name="parameters" element="tns:searchWithQuery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NoSuchEntityException">
    <wsdl:part name="NoSuchEntityException" element="tns:NoSuchEntity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListResponse">
    <wsdl:part name="parameters" element="tns:getListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateListResponse">
    <wsdl:part name="parameters" element="tns:updateListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="parameters" element="tns:update">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListResponse">
    <wsdl:part name="parameters" element="tns:deleteListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addList">
    <wsdl:part name="parameters" element="tns:addList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addListResponse">
    <wsdl:part name="parameters" element="tns:addListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomEntities">
    <wsdl:part name="parameters" element="tns:getCustomEntities">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="tns:delete">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="parameters" element="tns:createResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustomEntitiesResponse">
    <wsdl:part name="parameters" element="tns:getCustomEntitiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="describe">
    <wsdl:part name="parameters" element="tns:describe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IMuleStoreService">
    <wsdl:operation name="getRecentlyAdded">
      <wsdl:input name="getRecentlyAdded" message="tns:getRecentlyAdded">
    </wsdl:input>
      <wsdl:output name="getRecentlyAddedResponse" message="tns:getRecentlyAddedResponse">
    </wsdl:output>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input name="get" message="tns:get">
    </wsdl:input>
      <wsdl:output name="getResponse" message="tns:getResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchWithQuery">
      <wsdl:input name="searchWithQuery" message="tns:searchWithQuery">
    </wsdl:input>
      <wsdl:output name="searchWithQueryResponse" message="tns:searchWithQueryResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomEntities">
      <wsdl:input name="getCustomEntities" message="tns:getCustomEntities">
    </wsdl:input>
      <wsdl:output name="getCustomEntitiesResponse" message="tns:getCustomEntitiesResponse">
    </wsdl:output>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="update" message="tns:update">
    </wsdl:input>
      <wsdl:output name="updateResponse" message="tns:updateResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCustomEntityDefinition">
      <wsdl:input name="createCustomEntityDefinition" message="tns:createCustomEntityDefinition">
    </wsdl:input>
      <wsdl:output name="createCustomEntityDefinitionResponse" message="tns:createCustomEntityDefinitionResponse">
    </wsdl:output>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <wsdl:input name="getList" message="tns:getList">
    </wsdl:input>
      <wsdl:output name="getListResponse" message="tns:getListResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="delete" message="tns:delete">
    </wsdl:input>
      <wsdl:output name="deleteResponse" message="tns:deleteResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input name="create" message="tns:create">
    </wsdl:input>
      <wsdl:output name="createResponse" message="tns:createResponse">
    </wsdl:output>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addList">
      <wsdl:input name="addList" message="tns:addList">
    </wsdl:input>
      <wsdl:output name="addListResponse" message="tns:addListResponse">
    </wsdl:output>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateList">
      <wsdl:input name="updateList" message="tns:updateList">
    </wsdl:input>
      <wsdl:output name="updateListResponse" message="tns:updateListResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteList">
      <wsdl:input name="deleteList" message="tns:deleteList">
    </wsdl:input>
      <wsdl:output name="deleteListResponse" message="tns:deleteListResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="describe">
      <wsdl:input name="describe" message="tns:describe">
    </wsdl:input>
      <wsdl:output name="describeResponse" message="tns:describeResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IMuleStoreServiceServiceSoapBinding" type="tns:IMuleStoreService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getRecentlyAdded">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecentlyAdded">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecentlyAddedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="get">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchWithQuery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchWithQuery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchWithQueryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomEntities">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCustomEntities">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCustomEntitiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCustomEntityDefinition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createCustomEntityDefinition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createCustomEntityDefinitionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="create">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="describe">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="describe">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="describeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IMuleStoreServiceService">
    <wsdl:port name="IMuleStoreServicePort" binding="tns:IMuleStoreServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/IMuleStoreServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
