tutorial/src/main/asciidoc/resources/wsdl/IMuleCookBookService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IMuleCookBookServiceService" targetNamespace="http://service.cookbook.devkit.tools.mule.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.cookbook.devkit.tools.mule.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.cookbook.devkit.tools.mule.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.cookbook.devkit.tools.mule.org/">
  <xs:element name="addList" type="tns:addList"/>
  <xs:element name="addListResponse" type="tns:addListResponse"/>
  <xs:element name="create" type="tns:create"/>
  <xs:element name="createResponse" type="tns:createResponse"/>
  <xs:element name="delete" type="tns:delete"/>
  <xs:element name="deleteList" type="tns:deleteList"/>
  <xs:element name="deleteListResponse" type="tns:deleteListResponse"/>
  <xs:element name="deleteResponse" type="tns:deleteResponse"/>
  <xs:element name="get" type="tns:get"/>
  <xs:element name="getList" type="tns:getList"/>
  <xs:element name="getListResponse" type="tns:getListResponse"/>
  <xs:element name="getRecentlyAdded" type="tns:getRecentlyAdded"/>
  <xs:element name="getRecentlyAddedResponse" type="tns:getRecentlyAddedResponse"/>
  <xs:element name="getResponse" type="tns:getResponse"/>
  <xs:element name="searchWithQuery" type="tns:searchWithQuery"/>
  <xs:element name="searchWithQueryResponse" type="tns:searchWithQueryResponse"/>
  <xs:element name="update" type="tns:update"/>
  <xs:element name="updateList" type="tns:updateList"/>
  <xs:element name="updateListResponse" type="tns:updateListResponse"/>
  <xs:element name="updateQuantities" type="tns:updateQuantities"/>
  <xs:element name="updateQuantitiesResponse" type="tns:updateQuantitiesResponse"/>
  <xs:element name="updateResponse" type="tns:updateResponse"/>
  <xs:complexType name="getList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entityIds" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType abstract="true" name="cookBookEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="lastModified" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ingredient">
    <xs:complexContent>
      <xs:extension base="tns:cookBookEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element name="quantity" type="xs:double"/>
          <xs:element minOccurs="0" name="unit" type="tns:unitType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="recipe">
    <xs:complexContent>
      <xs:extension base="tns:cookBookEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="cookTime" type="xs:double"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="directions" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ingredients" nillable="true" type="tns:ingredient"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="prepTime" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="create">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="entity" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="get">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entities" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateQuantities">
    <xs:sequence>
      <xs:element minOccurs="0" name="recipe" type="tns:recipe"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateQuantitiesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:recipe"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entityIds" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteListResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="addList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entities" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchWithQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="query" type="xs:string"/>
      <xs:element minOccurs="0" name="page" type="xs:int"/>
      <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="searchWithQueryResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRecentlyAdded">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getRecentlyAddedResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:recipe"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="unitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CUPS"/>
      <xs:enumeration value="GRAMS"/>
      <xs:enumeration value="KILOGRAMS"/>
      <xs:enumeration value="LITERS"/>
      <xs:enumeration value="MILLILITERS"/>
      <xs:enumeration value="POUNDS"/>
      <xs:enumeration value="SPOONS"/>
      <xs:enumeration value="UNIT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NoSuchEntity" type="tns:NoSuchEntity"/>
  <xs:complexType name="NoSuchEntity">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="SessionExpired" type="tns:SessionExpired"/>
  <xs:complexType name="SessionExpired">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="InvalidEntity" type="tns:InvalidEntity"/>
  <xs:complexType name="InvalidEntity">
    <xs:sequence>
      <xs:element name="entity" nillable="true" type="tns:cookBookEntity"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="searchWithQuery">
    <wsdl:part name="parameters" element="tns:searchWithQuery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NoSuchEntityException">
    <wsdl:part name="NoSuchEntityException" element="tns:NoSuchEntity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateQuantities">
    <wsdl:part name="parameters" element="tns:updateQuantities">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListResponse">
    <wsdl:part name="parameters" element="tns:getListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateQuantitiesResponse">
    <wsdl:part name="parameters" element="tns:updateQuantitiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part name="parameters" element="tns:update">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateListResponse">
    <wsdl:part name="parameters" element="tns:updateListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListResponse">
    <wsdl:part name="parameters" element="tns:deleteListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addList">
    <wsdl:part name="parameters" element="tns:addList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addListResponse">
    <wsdl:part name="parameters" element="tns:addListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="parameters" element="tns:createResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part name="parameters" element="tns:delete">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="tns:updateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create">
    <wsdl:part name="parameters" element="tns:create">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidEntityException">
    <wsdl:part name="InvalidEntityException" element="tns:InvalidEntity">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="parameters" element="tns:getResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SessionExpiredException">
    <wsdl:part name="SessionExpiredException" element="tns:SessionExpired">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="get">
    <wsdl:part name="parameters" element="tns:get">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentlyAdded">
    <wsdl:part name="parameters" element="tns:getRecentlyAdded">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateList">
    <wsdl:part name="parameters" element="tns:updateList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchWithQueryResponse">
    <wsdl:part name="parameters" element="tns:searchWithQueryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteList">
    <wsdl:part name="parameters" element="tns:deleteList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecentlyAddedResponse">
    <wsdl:part name="parameters" element="tns:getRecentlyAddedResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getList">
    <wsdl:part name="parameters" element="tns:getList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="tns:deleteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IMuleCookBookService">
    <wsdl:operation name="getList">
<wsdl:documentation>Retrieves a list of ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="getList" message="tns:getList">
    </wsdl:input>
      <wsdl:output name="getListResponse" message="tns:getListResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
<wsdl:documentation>Deletes an ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="delete" message="tns:delete">
    </wsdl:input>
      <wsdl:output name="deleteResponse" message="tns:deleteResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
<wsdl:documentation>Create an ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="create" message="tns:create">
    </wsdl:input>
      <wsdl:output name="createResponse" message="tns:createResponse">
    </wsdl:output>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
<wsdl:documentation>Updates an ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="update" message="tns:update">
    </wsdl:input>
      <wsdl:output name="updateResponse" message="tns:updateResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get">
<wsdl:documentation>Retrieves an ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="get" message="tns:get">
    </wsdl:input>
      <wsdl:output name="getResponse" message="tns:getResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateList">
<wsdl:documentation>Updates a list of ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="updateList" message="tns:updateList">
    </wsdl:input>
      <wsdl:output name="updateListResponse" message="tns:updateListResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateQuantities">
<wsdl:documentation>Updates the quantities of a specific list.</wsdl:documentation>
      <wsdl:input name="updateQuantities" message="tns:updateQuantities">
    </wsdl:input>
      <wsdl:output name="updateQuantitiesResponse" message="tns:updateQuantitiesResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteList">
<wsdl:documentation>Deletes a list of ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="deleteList" message="tns:deleteList">
    </wsdl:input>
      <wsdl:output name="deleteListResponse" message="tns:deleteListResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addList">
<wsdl:documentation>Creates a list of ingredient or recipe.</wsdl:documentation>
      <wsdl:input name="addList" message="tns:addList">
    </wsdl:input>
      <wsdl:output name="addListResponse" message="tns:addListResponse">
    </wsdl:output>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
      <wsdl:fault name="InvalidEntityException" message="tns:InvalidEntityException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchWithQuery">
<wsdl:documentation>Searchs a list of ingredient or recipe matching a specific criteria.</wsdl:documentation>
      <wsdl:input name="searchWithQuery" message="tns:searchWithQuery">
    </wsdl:input>
      <wsdl:output name="searchWithQueryResponse" message="tns:searchWithQueryResponse">
    </wsdl:output>
      <wsdl:fault name="NoSuchEntityException" message="tns:NoSuchEntityException">
    </wsdl:fault>
      <wsdl:fault name="SessionExpiredException" message="tns:SessionExpiredException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecentlyAdded">
<wsdl:documentation>Retrieves a list of the recently added recipies.</wsdl:documentation>
      <wsdl:input name="getRecentlyAdded" message="tns:getRecentlyAdded">
    </wsdl:input>
      <wsdl:output name="getRecentlyAddedResponse" message="tns:getRecentlyAddedResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IMuleCookBookServiceServiceSoapBinding" type="tns:IMuleCookBookService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="create">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="get">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateQuantities">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateQuantities">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateQuantitiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addList">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addList">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidEntityException">
        <soap:fault name="InvalidEntityException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="searchWithQuery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="searchWithQuery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchWithQueryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoSuchEntityException">
        <soap:fault name="NoSuchEntityException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SessionExpiredException">
        <soap:fault name="SessionExpiredException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecentlyAdded">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecentlyAdded">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecentlyAddedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IMuleCookBookServiceService">
    <wsdl:port name="IMuleCookBookServicePort" binding="tns:IMuleCookBookServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/IMuleCookBookServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
